# Euro 2024 Data Exploration with SQL

With the world cup coming, why not explore a dataset of the beautiful game. Whether you call Football or Soccer it's going to be a great time split across the North American continent. Let's dive into some data from the UEFA Euros from 2024 and see what we can come up with!

In [45]:
#imports for data analysis and SQL Lite
import pandas as pd
from sqlalchemy import create_engine
import sqlite3
from pyspark.sql import SparkSession
pd.set_option('display.float_format', '{:,.2f}'.format)

In [46]:
game_events = pd.read_csv('game_events.csv')
goals = pd.read_csv('goals.csv')

print(game_events.head())
print(goals.head())

          id                             game    event_type  \
0  116213644  Romania vs Ukraine (2024-06-17)  Substitution
1  116213524  Romania vs Ukraine (2024-06-17)  Substitution
2  116213531  Romania vs Ukraine (2024-06-17)  Substitution
3  116213571  Romania vs Ukraine (2024-06-17)    Yellowcard
4  116213583  Romania vs Ukraine (2024-06-17)  Substitution

                created_at team_name        player_name related_player_name  \
0  2024-06-17 16:27:00.000   Romania   Bogdan Racovițan     Nicolae Stanciu
1  2024-06-17 16:02:00.000   Ukraine  Volodymyr Brazhko    Taras Stepanenko
2  2024-06-17 16:02:00.000   Romania   Valentin Mihăilă      Florinel Coman
3  2024-06-17 16:07:00.000   Ukraine    Yukhym Konoplya                 NaN
4  2024-06-17 16:12:00.000   Ukraine  Oleksandr Tymchyk     Yukhym Konoplya

  result  minute  extra_minute previous_player_event previous_player_event_at  \
0    NaN      87             0                   NaN                      NaN
1    NaN      62             0                   NaN                      NaN
2    NaN      62             0                   NaN                      NaN
3    NaN      67             0                   NaN                      NaN
4    NaN      72             0                   NaN                      NaN

   seconds_after_previous_event     player_id  related_player_id  \
0                           NaN 31,616,427.00          62,905.00
1                           NaN 24,065,258.00         204,483.00
2                           NaN  6,013,442.00         165,479.00
3                           NaN  4,545,319.00                NaN
4                           NaN    206,981.00       4,545,319.00

   participant_id  fixture_id
0           18638    19032635
1           18624    19032635
2           18638    19032635
3           18624    19032635
4           18624    19032635
          id                             game event_type           created_at  \
0  116213507  Romania vs Ukraine (2024-06-17)       Goal  2024-06-17 15:57:00
1  116213493  Romania vs Ukraine (2024-06-17)       Goal  2024-06-17 15:53:00
2  116213437  Romania vs Ukraine (2024-06-17)       Goal  2024-06-17 15:29:00
3  116479263  Germany vs Denmark (2024-06-29)       Goal  2024-06-29 22:08:00
4  116478811  Germany vs Denmark (2024-06-29)       Goal  2024-06-29 21:53:00

  team_name      player_name related_player_name result  minute  extra_minute  \
0   Romania     Denis Drăguș          Dennis Man    3-0      57             0
1   Romania     Răzvan Marin                 NaN    2-0      53             0
2   Romania  Nicolae Stanciu          Dennis Man    1-0      29             0
3   Germany    Jamal Musiala  Nico Schlotterbeck    2-0      68             0
4   Germany      Kai Havertz                 NaN    1-0      53             0

  previous_player_event previous_player_event_at  \
0                   NaN                      NaN
1                   NaN                      NaN
2                   NaN                      NaN
3                   NaN                      NaN
4                   NaN                      NaN

   seconds_after_previous_event  player_id  related_player_id  participant_id  \
0                           NaN     165648         165,622.00           18638
1                           NaN      64202                NaN           18638
2                           NaN      62905         165,622.00           18638
3                           NaN   33186829       3,862,352.00           18660
4                           NaN      32612                NaN           18660

   fixture_id  minute_str_sortable game_minute game_period_bucket
0    19032635                   57          57                 60
1    19032635                   53          53                 55
2    19032635                   29          29                 30
3    19032605                   68          68                 70
4    19032605                   53          53                 55

## Let's dive right into the data!

In [47]:

# Load CSVs
game_events = pd.read_csv('game_events.csv')
goals = pd.read_csv('goals.csv')

print(game_events.head())
print(goals.head())

# Create SQLite database (file will be created in current folder)
engine = create_engine('sqlite:///soccer.db')

# Write DataFrames to SQL tables
game_events.to_sql('game_events', engine, if_exists='replace', index=False)
goals.to_sql('goals', engine, if_exists='replace', index=False)

# Connecting to database 
%sql sqlite:///soccer.db

# Loading SQL Extension
%load_ext sql

print("Tables created: game_events, goals")

          id                             game    event_type  \
0  116213644  Romania vs Ukraine (2024-06-17)  Substitution
1  116213524  Romania vs Ukraine (2024-06-17)  Substitution
2  116213531  Romania vs Ukraine (2024-06-17)  Substitution
3  116213571  Romania vs Ukraine (2024-06-17)    Yellowcard
4  116213583  Romania vs Ukraine (2024-06-17)  Substitution

                created_at team_name        player_name related_player_name  \
0  2024-06-17 16:27:00.000   Romania   Bogdan Racovițan     Nicolae Stanciu
1  2024-06-17 16:02:00.000   Ukraine  Volodymyr Brazhko    Taras Stepanenko
2  2024-06-17 16:02:00.000   Romania   Valentin Mihăilă      Florinel Coman
3  2024-06-17 16:07:00.000   Ukraine    Yukhym Konoplya                 NaN
4  2024-06-17 16:12:00.000   Ukraine  Oleksandr Tymchyk     Yukhym Konoplya

  result  minute  extra_minute previous_player_event previous_player_event_at  \
0    NaN      87             0                   NaN                      NaN
1    NaN      62             0                   NaN                      NaN
2    NaN      62             0                   NaN                      NaN
3    NaN      67             0                   NaN                      NaN
4    NaN      72             0                   NaN                      NaN

   seconds_after_previous_event     player_id  related_player_id  \
0                           NaN 31,616,427.00          62,905.00
1                           NaN 24,065,258.00         204,483.00
2                           NaN  6,013,442.00         165,479.00
3                           NaN  4,545,319.00                NaN
4                           NaN    206,981.00       4,545,319.00

   participant_id  fixture_id
0           18638    19032635
1           18624    19032635
2           18638    19032635
3           18624    19032635
4           18624    19032635
          id                             game event_type           created_at  \
0  116213507  Romania vs Ukraine (2024-06-17)       Goal  2024-06-17 15:57:00
1  116213493  Romania vs Ukraine (2024-06-17)       Goal  2024-06-17 15:53:00
2  116213437  Romania vs Ukraine (2024-06-17)       Goal  2024-06-17 15:29:00
3  116479263  Germany vs Denmark (2024-06-29)       Goal  2024-06-29 22:08:00
4  116478811  Germany vs Denmark (2024-06-29)       Goal  2024-06-29 21:53:00

  team_name      player_name related_player_name result  minute  extra_minute  \
0   Romania     Denis Drăguș          Dennis Man    3-0      57             0
1   Romania     Răzvan Marin                 NaN    2-0      53             0
2   Romania  Nicolae Stanciu          Dennis Man    1-0      29             0
3   Germany    Jamal Musiala  Nico Schlotterbeck    2-0      68             0
4   Germany      Kai Havertz                 NaN    1-0      53             0

  previous_player_event previous_player_event_at  \
0                   NaN                      NaN
1                   NaN                      NaN
2                   NaN                      NaN
3                   NaN                      NaN
4                   NaN                      NaN

   seconds_after_previous_event  player_id  related_player_id  participant_id  \
0                           NaN     165648         165,622.00           18638
1                           NaN      64202                NaN           18638
2                           NaN      62905         165,622.00           18638
3                           NaN   33186829       3,862,352.00           18660
4                           NaN      32612                NaN           18660

   fixture_id  minute_str_sortable game_minute game_period_bucket
0    19032635                   57          57                 60
1    19032635                   53          53                 55
2    19032635                   29          29                 30
3    19032605                   68          68                 70
4    19032605                   53          53                 55
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Tables created: game_events, goals

In [48]:
%%sql
SELECT *
FROM game_events
LIMIT 10;

   sqlite:///my_database.db
 * sqlite:///soccer.db
Done.

[(116213644, 'Romania vs Ukraine (2024-06-17)', 'Substitution', '2024-06-17 16:27:00.000', 'Romania', 'Bogdan Racovițan', 'Nicolae Stanciu', None, 87, 0, None, None, None, 31616427.0, 62905.0, 18638, 19032635),
 (116213524, 'Romania vs Ukraine (2024-06-17)', 'Substitution', '2024-06-17 16:02:00.000', 'Ukraine', 'Volodymyr Brazhko', 'Taras Stepanenko', None, 62, 0, None, None, None, 24065258.0, 204483.0, 18624, 19032635),
 (116213531, 'Romania vs Ukraine (2024-06-17)', 'Substitution', '2024-06-17 16:02:00.000', 'Romania', 'Valentin Mihăilă', 'Florinel Coman', None, 62, 0, None, None, None, 6013442.0, 165479.0, 18638, 19032635),
 (116213571, 'Romania vs Ukraine (2024-06-17)', 'Yellowcard', '2024-06-17 16:07:00.000', 'Ukraine', 'Yukhym Konoplya', None, None, 67, 0, None, None, None, 4545319.0, None, 18624, 19032635),
 (116213583, 'Romania vs Ukraine (2024-06-17)', 'Substitution', '2024-06-17 16:12:00.000', 'Ukraine', 'Oleksandr Tymchyk', 'Yukhym Konoplya', None, 72, 0, None, None, None, 206981.0, 4545319.0, 18624, 19032635),
 (116213533, 'Romania vs Ukraine (2024-06-17)', 'Substitution', '2024-06-17 16:02:00.000', 'Ukraine', 'Roman Yaremchuk', 'Mykola Shaparenko', None, 62, 0, None, None, None, 205933.0, 205964.0, 18624, 19032635),
 (116213534, 'Romania vs Ukraine (2024-06-17)', 'Substitution', '2024-06-17 16:02:00.000', 'Ukraine', 'Andriy Yarmolenko', 'Viktor Tsygankov', None, 62, 0, None, None, None, 204697.0, 205635.0, 18624, 19032635),
 (116213507, 'Romania vs Ukraine (2024-06-17)', 'Goal', '2024-06-17 15:57:00.000', 'Romania', 'Denis Drăguș', 'Dennis Man', '3-0', 57, 0, None, None, None, 165648.0, 165622.0, 18638, 19032635),
 (116213593, 'Romania vs Ukraine (2024-06-17)', 'Substitution', '2024-06-17 16:15:00.000', 'Romania', 'George Pușcaș', 'Denis Drăguș', None, 75, 0, None, None, None, 130192.0, 165648.0, 18638, 19032635),
 (116213525, 'Romania vs Ukraine (2024-06-17)', 'Substitution', '2024-06-17 16:02:00.000', 'Romania', 'Ianis Hagi', 'Dennis Man', None, 62, 0, None, None, None, 129857.0, 165622.0, 18638, 19032635)]

# Dataset Discussion and Summary Statistics

Here we are counting how many distinct rows there are.

In [49]:
%%sql
SELECT 
COUNT(1) as ROWS,
COUNT(DISTINCT id) unique_ids
FROM game_events

   sqlite:///my_database.db
 * sqlite:///soccer.db
Done.

[(838, 838)]

# Summarizing the data

We're still going to use a majority of SQL for this project, but pandas provides a great way to show the data types and basic statistical overview for our two tables

In [50]:
game_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 0 to 837
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            838 non-null    int64
 1   game                          838 non-null    object
 2   event_type                    838 non-null    object
 3   created_at                    838 non-null    object
 4   team_name                     838 non-null    object
 5   player_name                   838 non-null    object
 6   related_player_name           527 non-null    object
 7   result                        132 non-null    object
 8   minute                        838 non-null    int64
 9   extra_minute                  838 non-null    int64
 10  previous_player_event         118 non-null    object
 11  previous_player_event_at      118 non-null    object
 12  seconds_after_previous_event  118 non-null    float64
 13  player_id                     826 non-null    float64
 14  related_player_id             527 non-null    float64
 15  participant_id                838 non-null    int64
 16  fixture_id                    838 non-null    int64
dtypes: float64(3), int64(5), object(9)
memory usage: 111.4+ KB

In [51]:
game_events.describe()

,id,minute,extra_minute,seconds_after_previous_event,player_id,related_player_id,participant_id,fixture_id
count,838.00,838.00,838.00,118.00,826.00,527.00,838.00,838.00
mean,"116,364,186.64",64.85,0.33,"1,595.59","5,716,804.07","6,411,015.12","18,679.66","19,033,465.07"
std,"148,824.09",24.89,1.25,"1,780.57","11,773,280.23","12,482,800.25",53.09,"3,213.46"
min,"116,112,635.00",1.00,0.00,0.00,268.00,268.00,"18,583.00","19,032,601.00"
25%,"116,244,236.00",52.00,0.00,375.00,"34,745.00","34,880.00","18,645.00","19,032,611.00"
50%,"116,354,205.50",70.00,0.00,900.00,"157,794.00","133,994.00","18,692.00","19,032,623.00"
75%,"116,481,349.50",83.00,0.00,"2,175.00","1,486,200.00","3,156,873.00","18,710.00","19,032,637.00"
max,"116,635,472.00",120.00,11.00,"6,600.00","37,656,179.00","37,656,179.00","18,873.00","19,045,703.00"

In [43]:
goals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            108 non-null    int64
 1   game                          108 non-null    object
 2   event_type                    108 non-null    object
 3   created_at                    108 non-null    object
 4   team_name                     108 non-null    object
 5   player_name                   108 non-null    object
 6   related_player_name           82 non-null     object
 7   result                        108 non-null    object
 8   minute                        108 non-null    int64
 9   extra_minute                  108 non-null    int64
 10  previous_player_event         30 non-null     object
 11  previous_player_event_at      30 non-null     object
 12  seconds_after_previous_event  30 non-null     float64
 13  player_id                     108 non-null    int64
 14  related_player_id             82 non-null     float64
 15  participant_id                108 non-null    int64
 16  fixture_id                    108 non-null    int64
 17  minute_str_sortable           108 non-null    int64
 18  game_minute                   108 non-null    object
 19  game_period_bucket            108 non-null    object
dtypes: float64(2), int64(7), object(11)
memory usage: 17.0+ KB

In [52]:
goals.describe()

,id,minute,extra_minute,seconds_after_previous_event,player_id,related_player_id,participant_id,fixture_id,minute_str_sortable
count,108.00,108.00,108.00,30.00,108.00,82.00,108.00,108.00,108.00
mean,"116,333,847.95",51.46,0.59,"1,274.00","4,834,844.09","7,707,514.79","18,678.75","19,033,470.53",51.46
std,"152,171.06",28.78,1.73,"1,250.82","11,078,316.31","13,589,930.10",41.52,"3,235.01",28.78
min,"116,112,635.00",1.00,0.00,60.00,268.00,580.00,"18,583.00","19,032,601.00",1.00
25%,"116,227,804.50",25.75,0.00,345.00,"32,604.50","32,441.00","18,645.00","19,032,612.75",25.75
50%,"116,294,200.00",54.50,0.00,900.00,"115,091.00","138,082.50","18,693.00","19,032,623.50",54.50
75%,"116,426,060.75",76.25,0.00,"1,725.00","537,758.00","4,545,376.00","18,708.50","19,032,637.00",76.25
max,"116,635,174.00",119.00,10.00,"4,680.00","37,547,467.00","37,656,179.00","18,873.00","19,045,703.00",119.00

In [57]:
%%sql
select minute, 
count(*) as events
from game_events
group by minute 
order by events desc 
limit 10

   sqlite:///my_database.db
 * sqlite:///soccer.db
Done.

[(90, 76),
 (46, 34),
 (81, 27),
 (75, 24),
 (77, 20),
 (86, 19),
 (62, 19),
 (74, 18),
 (67, 18),
 (83, 17)]

This is pretty cool, we can see that most of the events occur in the 2nd half. The most events occur in the 90th minute, so let's explore more of that!

In [64]:
%%sql 
SELECT event_type,
count(*) as events
FROM game_events
WHERE extra_minute > 0
GROUP BY event_type
ORDER BY events DESC

   sqlite:///my_database.db
 * sqlite:///soccer.db
Done.

[('Yellowcard', 35),
 ('Substitution', 19),
 ('Goal', 15),
 ('Redcard', 3),
 ('VAR', 2),
 ('Yellow/Red card', 1)]

Awesome. We can see that these are valid events and lot of drama, especially the VAR review. Let's do the same thing for extra time.

In [63]:
%%sql 
SELECT event_type,
count(*) as events
FROM game_events
WHERE minute > 90
GROUP BY event_type
ORDER BY events DESC

   sqlite:///my_database.db
 * sqlite:///soccer.db
Done.

[('Substitution', 18),
 ('Yellowcard', 14),
 ('Goal', 2),
 ('Yellow/Red card', 1),
 ('Redcard', 1),
 ('Missed Penalty', 1)]

The drama continues, the events in extra time in the 2024 euros range from subs, to players being sent off, to red cards.

In [66]:
%%sql
SELECT
  printf('%01d', 1),
  printf('%02d', 1),
  printf('%03d', 1),
  printf('%02d', 1),
  printf('%02d', 10),
  printf('%02d', 100);

   sqlite:///my_database.db
 * sqlite:///soccer.db
Done.

[('1', '01', '001', '01', '10', '100')]

What we're doing here is making strings be able to be a number.

Let's make a table for goals

In [71]:
%%sql
DROP TABLE IF EXISTS goals;

CREATE TABLE goals AS
WITH goal_events_with_minute_string AS (
  SELECT
    *,
    printf('%3d', minute) AS minute_str_sortable
  FROM game_events
  WHERE event_type = 'Goal'
)
SELECT
  *,
  CASE
    WHEN extra_minute = 0 OR extra_minute IS NULL THEN minute_str_sortable
    ELSE minute_str_sortable || ' + ' || extra_minute
  END AS game_minute,
  CASE
    WHEN minute > 90 THEN 'Extra Time'
    WHEN extra_minute IS NOT NULL AND extra_minute != 0 THEN minute_str_sortable || ' +'
    ELSE printf('%3d', ((minute + 4) / 5) * 5)
  END AS game_period_bucket
FROM goal_events_with_minute_string;

SELECT * FROM goals LIMIT 10;

   sqlite:///my_database.db
 * sqlite:///soccer.db
Done.
Done.
Done.

[(116213507, 'Romania vs Ukraine (2024-06-17)', 'Goal', '2024-06-17 15:57:00.000', 'Romania', 'Denis Drăguș', 'Dennis Man', '3-0', 57, 0, None, None, None, 165648.0, 165622.0, 18638, 19032635, ' 57', ' 57', ' 60'),
 (116213493, 'Romania vs Ukraine (2024-06-17)', 'Goal', '2024-06-17 15:53:00.000', 'Romania', 'Răzvan Marin', None, '2-0', 53, 0, None, None, None, 64202.0, None, 18638, 19032635, ' 53', ' 53', ' 55'),
 (116213437, 'Romania vs Ukraine (2024-06-17)', 'Goal', '2024-06-17 15:29:00.000', 'Romania', 'Nicolae Stanciu', 'Dennis Man', '1-0', 29, 0, None, None, None, 62905.0, 165622.0, 18638, 19032635, ' 29', ' 29', ' 30'),
 (116479263, 'Germany vs Denmark (2024-06-29)', 'Goal', '2024-06-29 22:08:00.000', 'Germany', 'Jamal Musiala', 'Nico Schlotterbeck', '2-0', 68, 0, None, None, None, 33186829.0, 3862352.0, 18660, 19032605, ' 68', ' 68', ' 70'),
 (116478811, 'Germany vs Denmark (2024-06-29)', 'Goal', '2024-06-29 21:53:00.000', 'Germany', 'Kai Havertz', None, '1-0', 53, 0, None, None, None, 32612.0, None, 18660, 19032605, ' 53', ' 53', ' 55'),
 (116521748, 'Spain vs Georgia (2024-06-30)', 'Goal', '2024-06-30 22:15:00.000', 'Spain', 'Nico Williams', 'Fabián Ruiz', '3-1', 75, 0, None, None, None, 37297544.0, 186735.0, 18710, 19032607, ' 75', ' 75', ' 75'),
 (116520536, 'Spain vs Georgia (2024-06-30)', 'Goal', '2024-06-30 21:39:00.000', 'Spain', 'Rodri', 'Nico Williams', '1-1', 39, 0, None, None, None, 186910.0, 37297544.0, 18710, 19032607, ' 39', ' 39', ' 40'),
 (116521204, 'Spain vs Georgia (2024-06-30)', 'Goal', '2024-06-30 21:51:00.000', 'Spain', 'Fabián Ruiz', 'Lamine Yamal', '2-1', 51, 0, None, None, None, 186735.0, 37656179.0, 18710, 19032607, ' 51', ' 51', ' 55'),
 (116520002, 'Spain vs Georgia (2024-06-30)', 'Goal', '2024-06-30 21:18:00.000', 'Georgia', 'Robin Le Normand', 'Otar Kakabadze', '0-1', 18, 0, None, None, None, 100580.0, 84624.0, 18692, 19032607, ' 18', ' 18', ' 20'),
 (116521999, 'Spain vs Georgia (2024-06-30)', 'Goal', '2024-06-30 22:23:00.000', 'Spain', 'Dani Olmo', 'Mikel Oyarzabal', '4-1', 83, 0, 'Substitution', '2024-06-30 21:52:00.000', 1860.0, 74060.0, 186932.0, 18710, 19032607, ' 83', ' 83', ' 85')]

Let's more into goals. When in the game are the goals scored.

In [84]:
%%sql 
With counts as (
    SELECT game_period_bucket,
count(*) as cnt
FROM goals
GROUP BY game_period_bucket
ORDER BY cnt DESC
)

SELECT * 
FROM counts

   sqlite:///my_database.db
 * sqlite:///soccer.db
Done.

[(' 90 +', 12),
 (' 70', 10),
 (' 80', 9),
 (' 55', 8),
 (' 20', 8),
 (' 60', 7),
 (' 30', 7),
 (' 15', 6),
 (' 25', 5),
 (' 85', 4),
 (' 75', 4),
 (' 40', 4),
 (' 35', 4),
 (' 10', 4),
 ('  5', 4),
 (' 45 +', 3),
 ('Extra Time', 2),
 (' 90', 2),
 (' 65', 2),
 (' 50', 2),
 (' 45', 1)]

These are some helpful insights to see when the most goals where scored in the game. This could provide really helpful insight to managers, improve game play, and tatics to advancing in knock-out stages or winning group stage games.